/*
font-family: 'Nunito', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.logo {
    position: relative;    
    display: inline-block;
    color: white;
    font-family: 'Crimson Text', sarif;
    font-size: 2vw;
    left: 55px;
    top: 40px;
}

.bg-img {
    position: absolute;
    width: 100vw;
    height: auto;
}

.parent-c {
    position: relative;
    /*display: flex;*/
    justify-content:center;
    align-items:center;
    display: inline-block;
    /*margin-top: 300px;*/
    margin-left: 25%;
    margin-top: 20%;
    width: 50%;
    height: auto;
}

.centertext {
    /*position: absolute;*/
    display: inline-block;
    font-size: 5vw;
    font-family: 'Tinos', serif;
    text-align: center;
    color: white;
    border: solid 4px white;
    padding: 20px;
}

.home {
    position: absolute;
    display: inline-block;
    color: white;
    left: 73vw;
    font-size: 2vw;
    top: 50px;
    transition: all 600ms ease-in-out;
    border-bottom: 2px solid transparent;
    padding-bottom: 7px;
    font-family: 'Josefin Slab', serif;
}

.home:hover {
    position: absolute;
    display: inline-block;
    color: white;
    left: 73vw;
    font-size: 2vw;
    top: 50px;
    border-bottom: 2px solid white;
    transition: all 600ms ease-in-out; 
    padding-bottom: 7px; 
    font-family: 'Josefin Slab', serif;
}

.about {
    position: absolute;
    color: white;
    left: 80vw;
    font-size: 2vw;
    top: 50px;
    text-decoration: none;
    transition: all 600ms ease-in-out; 
    border-bottom: 2px solid transparent;
    padding-bottom: 7px;
    font-family: 'Josefin Slab', serif;
}

.about:hover {
    color: white;
    top: 50px;
    border-bottom: 2px solid white;
    transition: all 600ms ease-in-out;
    padding-bottom: 7px;
    font-family: 'Josefin Slab', serif;
}

.location {
    position: absolute;
    display: inline-block;
    color: white;
    left: 88vw;
    font-size: 2vw;
    top: 50px;
    transition: all 600ms ease-in-out; 
    border-bottom: 2px solid transparent;
    padding-bottom: 7px;
    font-family: 'Josefin Slab', serif;
}

.location:hover {
    position: absolute;
    display: inline-block;
    color: white;
    left: 88vw;
    font-size: 2vw;
    top: 50px;
    transition: all 600ms ease-in-out; 
    border-bottom: 2px solid white; 
    padding-bottom: 7px; 
    font-family: 'Josefin Slab', serif;
}
